@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

.main {
    background: linear-gradient(45degree,#11998e,#38ef7d);    
    height: 100vh;
    width: 100vw;
}
.main .BigTitle{
    position: absolute;
    top: 4%;
    padding-left: 9%;
    color: rgba(0, 0, 0, .20);
    font-weight: 900;
    font-size: 25vh;
    font-family:'Montserrat', sans-serif;
}
.main .SubTitle{    
    position: absolute;
    top: 80%;
    padding-left: 10%;
    color:  rgb(246, 243, 243);
    font-weight: 200;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}

.main .SubTitle2{
    position: absolute;
    top: 33%;
    padding-left: 33%;
    color: #ffffff;
    font-weight: 700;
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    
}